header {
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
    
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ff9f00;
  }
  